

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#333">
        <h4 style="color:white;font-family:'Open Sans';">Acceder</h4>
        </div>
        <div class="panel-body">
        <form action="/api/acceder" method="post">
<span style="font-weight: bold;">E-mail:</span>
<input type="email" name="username" value="" placeholder="Ponga su email" class="form-control">
<br /><br />

<span style="font-weight: bold;">Contraseña:</span>
        <input type="password" name="password" value="" placeholder="Ponga su contraseña" class="form-control">
        <br /><br />

        <input type="submit" value="Acceder">
        </form>
      </div>
    </div>

    </div>
</div>
