
{{#if cuenta}}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading"style="background-color:#333">
          <h4 style="color:white;font-family:'Open Sans';">Eliminar carta</h4>
          </div>
          <div class="panel-body">
<form method="post" action="/api/Dcarta">
<span style="font-weight: bold;font-family: acme;">Nombre:</span>
<input type="nombre" name="nombre"  style="font-family: acme;"placeholder="Introduzca la carta a eliminar" class="form-control">
<br />
<input type="submit" value="eliminar">
</div>
</div>
</div>
</div>






{{/if}}
