<form id="introducir" method="post">

<input type="nombre" name="nombre" placeholder="Ponga el nombre de la carta">
<br /><br />
<input type="imagen" name="imagen" placeholder="Ponga su imagen">
<br /><br />
<input type="coste" name="coste" placeholder="Ponga el coste de elixir">
<br /><br />
<input type="categoria" name="categoria" placeholder="Elija entre legendaria, epica, especial y comun">
<br /><br />
<input type="submit" value="Introducir">
</form>

<script type="text/javascript">

const formCarta = document.getElementById('introducir')
const formData = new FormData(formCarta)

formCarta.addEventListener('submit', event => {
  event.preventDefault()
    fetch('/api/Icarta', {
      method: 'POST',
      body: formData

    })
    .then(res => res.json())
    .then(formData => {
      console.log(formData)
    })

})
</script>
