<h1 class="col-xs-12 col-sm-12 col-lg-12 col-md-12" style="text-align: center;"><strong style="margin-top: 10px;text-align:center; color:#EBEBEB;border-style: double;border-width: 6px;font-family:acme;">Clash Royale Generator</strong></h1>

<input id="user" style="visibility: hidden;" value={{user.email}}>


<script type="text/javascript">


var cont = 'false'
function RandomNoLegendario(){

  let cartaLista = document.createElement('div')

  fetch('/api/RSLmazo', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(data => {
    data.cartas.map(carta => {
      let text = document.createTextNode(carta.imagen)
      let elem = document.createElement('img')

      elem.id = 'array_carta'
      elem.src = carta.imagen
      elem.style = 'margin-left: 1px;'
      elem.width = '67'
      elem.appendChild(text)
      cartaLista.appendChild(elem);
      cartaLista.id = "caja"
      cartaLista.style = 'border-style: dashed;margin-top: 20px; margin-left:4%;background-color:white;'
      cartaLista.className = 'col-xs-9 col-sm-8 col-lg-3 col-md-3 col-sm-offset-4 col-lg-offset-1'

    })

if (cont === 'true'){
  for (var i = 0; i< 8; i++){
var array_carta = document.getElementById('array_carta');
array_carta.parentNode.removeChild(array_carta);
}
  cont = 'false'
  var caja = document.getElementById('caja');
  caja.remove(caja)
  RandomNoLegendario();
}else if(cont === 'false'){
document.body.appendChild(cartaLista)
cont = 'true'
}
    })
}
function Random(){

  let cartaLista = document.createElement('div')

  fetch('/api/Rmazo', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(data => {
    data.cartas.map(carta => {
      let text = document.createTextNode(carta.imagen)
      let elem = document.createElement('img')


      elem.id = 'array_carta'
      elem.src = carta.imagen
      elem.width = '67'
      elem.style = 'margin-left: 1px;'
      elem.appendChild(text)
      cartaLista.appendChild(elem)
      cartaLista.id = "caja"
      cartaLista.style = 'background-color:white;border-style: dashed;margin-top: 20px; margin-left:4%;'
      cartaLista.className = 'col-xs-8 col-sm-12 col-lg-3 col-md-4'
    })

if (cont === 'true'){
  for (var i = 0; i< 8; i++){
var array_carta = document.getElementById('array_carta');
array_carta.parentNode.removeChild(array_carta);
}
  cont = 'false'
var caja = document.getElementById('caja');
caja.remove(caja)

  Random();
}else if(cont === 'false'){
document.body.appendChild(cartaLista)
cont = 'true'
}
    })
}

function guardarMazo() {
var user = document.getElementById('user');
var userval = user.value

var x = ["value1", "value2", "value3", "value4","value7", "value5", "value6", "value8"];
var inicio;
  for (var i = 0, inicio = x.length; i< inicio; i++){
var array_carta = document.getElementById('array_carta').getAttribute("src");
document.getElementById(x[i]).value = document.getElementById('array_carta').getAttribute("src")
document.getElementById("array_carta").id="guardado";

}
if(userval != ""){
for (var i = 0; i< 8; i++){
document.getElementById("guardado").id="array_carta"
}
alert("Cartas guardadas!!");
document.getElementById("guardarMazo").submit();
}
else{
  for (var i = 0; i< 8; i++){
  document.getElementById("guardado").id="array_carta"
  }
    alert("Necesitas estar registrado!!");
  }

}

function Arena1(){

  let cartaLista = document.createElement('div')

  fetch('/api/RmazoA1', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(data => {
    data.cartas.map(carta => {
      let text = document.createTextNode(carta.imagen)
      let elem = document.createElement('img')


      elem.id = 'array_carta'
      elem.src = carta.imagen
      elem.width = '67'
      elem.style = 'margin-left: 1px;'
      elem.appendChild(text)
      cartaLista.appendChild(elem)
      cartaLista.id = "caja"
      cartaLista.style = 'background-color:white;border-style: dashed;margin-top: 20px; margin-left:4%;'
      cartaLista.className = 'col-xs-8 col-sm-12 col-lg-3 col-md-4'
    })

if (cont === 'true'){
  for (var i = 0; i< 8; i++){
var array_carta = document.getElementById('array_carta');
array_carta.parentNode.removeChild(array_carta);
}
  cont = 'false'
var caja = document.getElementById('caja');
caja.remove(caja)

  Arena1();
}else if(cont === 'false'){
document.body.appendChild(cartaLista)
cont = 'true'
}
    })
}

//Aleatorio arena2
function Arena2(){

  let cartaLista = document.createElement('div')

  fetch('/api/RmazoA2', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(data => {
    data.cartas.map(carta => {
      let text = document.createTextNode(carta.imagen)
      let elem = document.createElement('img')


      elem.id = 'array_carta'
      elem.src = carta.imagen
      elem.width = '67'
      elem.style = 'margin-left: 1px;'
      elem.appendChild(text)
      cartaLista.appendChild(elem)
      cartaLista.id = "caja"
      cartaLista.style = 'background-color:white;border-style: dashed;margin-top: 20px; margin-left:4%;'
      cartaLista.className = 'col-xs-8 col-sm-12 col-lg-3 col-md-4'
    })

if (cont === 'true'){
  for (var i = 0; i< 8; i++){
var array_carta = document.getElementById('array_carta');
array_carta.parentNode.removeChild(array_carta);
}
  cont = 'false'
var caja = document.getElementById('caja');
caja.remove(caja)

  Arena2();
}else if(cont === 'false'){
document.body.appendChild(cartaLista)
cont = 'true'
}
    })
}

//Aleatorio arena3
function Arena3(){

  let cartaLista = document.createElement('div')

  fetch('/api/RmazoA3', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(data => {
    data.cartas.map(carta => {
      let text = document.createTextNode(carta.imagen)
      let elem = document.createElement('img')


      elem.id = 'array_carta'
      elem.src = carta.imagen
      elem.width = '67'
      elem.style = 'margin-left: 1px;'
      elem.appendChild(text)
      cartaLista.appendChild(elem)
      cartaLista.id = "caja"
      cartaLista.style = 'background-color:white;border-style: dashed;margin-top: 20px; margin-left:4%;'
      cartaLista.className = 'col-xs-8 col-sm-12 col-lg-3 col-md-4'
    })

if (cont === 'true'){
  for (var i = 0; i< 8; i++){
var array_carta = document.getElementById('array_carta');
array_carta.parentNode.removeChild(array_carta);
}
  cont = 'false'
var caja = document.getElementById('caja');
caja.remove(caja)

  Arena3();
}else if(cont === 'false'){
document.body.appendChild(cartaLista)
cont = 'true'
}
    })
}

//Coste maximo por carta 1
function Coste3(){

  let cartaLista = document.createElement('div')

  fetch('/api/RmazoC3', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(data => {
    data.cartas.map(carta => {
      let text = document.createTextNode(carta.imagen)
      let elem = document.createElement('img')


      elem.id = 'array_carta'
      elem.src = carta.imagen
      elem.width = '67'
      elem.style = 'margin-left: 1px;'
      elem.appendChild(text)
      cartaLista.appendChild(elem)
      cartaLista.id = "caja"
      cartaLista.style = 'background-color:white;border-style: dashed;margin-top: 20px; margin-left:4%;'
      cartaLista.className = 'col-xs-8 col-sm-12 col-lg-3 col-md-4'
    })

if (cont === 'true'){
  for (var i = 0; i< 8; i++){
var array_carta = document.getElementById('array_carta');
array_carta.parentNode.removeChild(array_carta);
}
  cont = 'false'
var caja = document.getElementById('caja');
caja.remove(caja)

  Coste3();
}else if(cont === 'false'){
document.body.appendChild(cartaLista)
cont = 'true'
}
    })
}

//Coste maximo por carta 2
function Coste4(){

  let cartaLista = document.createElement('div')

  fetch('/api/RmazoC4', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(data => {
    data.cartas.map(carta => {
      let text = document.createTextNode(carta.imagen)
      let elem = document.createElement('img')


      elem.id = 'array_carta'
      elem.src = carta.imagen
      elem.width = '67'
      elem.style = 'margin-left: 1px;'
      elem.appendChild(text)
      cartaLista.appendChild(elem)
      cartaLista.id = "caja"
      cartaLista.style = 'background-color:white;border-style: dashed;margin-top: 20px; margin-left:4%;'
      cartaLista.className = 'col-xs-8 col-sm-12 col-lg-3 col-md-4'
    })

if (cont === 'true'){
  for (var i = 0; i< 8; i++){
var array_carta = document.getElementById('array_carta');
array_carta.parentNode.removeChild(array_carta);
}
  cont = 'false'
var caja = document.getElementById('caja');
caja.remove(caja)

  Coste4();
}else if(cont === 'false'){
document.body.appendChild(cartaLista)
cont = 'true'
}
    })
}

//Coste maximo por carta 3
function Coste5(){

  let cartaLista = document.createElement('div')

  fetch('/api/RmazoC5', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(data => {
    data.cartas.map(carta => {
      let text = document.createTextNode(carta.imagen)
      let elem = document.createElement('img')


      elem.id = 'array_carta'
      elem.src = carta.imagen
      elem.width = '67'
      elem.style = 'margin-left: 1px;'
      elem.appendChild(text)
      cartaLista.appendChild(elem)
      cartaLista.id = "caja"
      cartaLista.style = 'background-color:white;border-style: dashed;margin-top: 20px; margin-left:4%;'
      cartaLista.className = 'col-xs-8 col-sm-12 col-lg-3 col-md-4'
    })

if (cont === 'true'){
  for (var i = 0; i< 8; i++){
var array_carta = document.getElementById('array_carta');
array_carta.parentNode.removeChild(array_carta);
}
  cont = 'false'
var caja = document.getElementById('caja');
caja.remove(caja)

  Coste5();
}else if(cont === 'false'){
document.body.appendChild(cartaLista)
cont = 'true'
}
    })
}

</script>

<form action="/api/Gmazo" method="post" id="guardarMazo">

<input style="visibility: hidden;display: none;" type="text" name="value1" id="value1"/>
<input style="visibility: hidden;display: none;" type="text" name="value2" id="value2"/>
<input style="visibility: hidden;display: none;" type="text" name="value3" id="value3"/>
<input style="visibility: hidden;display: none;" type="text" name="value4" id="value4"/>
<input style="visibility: hidden;display: none;" type="text" name="value5" id="value5"/>
<input style="visibility: hidden;display: none;" type="text" name="value6" id="value6"/>
<input style="visibility: hidden;display: none;" type="text" name="value7" id="value7"/>
<input style="visibility: hidden;display: none;" type="text" name="value8" id="value8"/>


</form>

<input type="button" style="font-family:acme;" value="Mazo sin legendarias" class="col-xs-12 col-sm-12 col-lg-5 col-md-4 col-lg-offset-1" onclick="RandomNoLegendario()"/>
<input type="button" style="font-family:acme;" value="Aleatorio" class="col-xs-12 col-sm-12 col-lg-5 col-md-4" onclick="Random()"/>
<!--<input type="button" value="Guardar Mazo" class="col-xs-12 col-sm-12 col-lg-3 col-md-4" onclick="guardarMazo();"/>-->

<br /><br />
<div class="col-xs-12 col-sm-12 col-lg-3 col-md-4 col-md-offset-1" >
  <span class="col-xs-12 col-sm-12 col-lg-12 col-md-12" style="font-family:acme;margin-top: 10px;text-align:center;background-color:#333; color:#EBEBEB;border-style: double;border-width: 6px;"><strong style="color:#CFCC15;">Mazo aleatorio por arena</strong></span>

<input type="button" value="Arena1" class="col-xs-12 col-sm-12 col-lg-4 col-md-2" style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px; color: white;" onclick="Arena1()"/>
<input type="button" class="col-xs-12 col-sm-12 col-lg-4 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center; color:white;background: #333;border-style: double;border-width: 6px;" value="Arena2" onclick="Arena2()"/>
<input type="button" class="col-xs-12 col-sm-12 col-lg-4 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px;" value="Arena3" onclick="Arena3()">
<input type="button" class="col-xs-12 col-sm-12 col-lg-4 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px;" value="Arena4">
<input type="button" class="col-xs-12 col-sm-12 col-lg-4 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px;" value="Arena5">
<input type="button" class="col-xs-12 col-sm-12 col-lg-4 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px;" value="Arena6">
<input type="button" class="col-xs-12 col-sm-12 col-lg-4 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px;" value="Arena7">
<input type="button" class="col-xs-12 col-sm-12 col-lg-4 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px;" value="Arena8">
<input type="button" class="col-xs-12 col-sm-12 col-lg-4 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px;" value="Arena9">
<input type="button" class="col-xs-12 col-sm-12 col-lg-12 col-md-2 " style="font-family:acme;margin-top: 10px;text-align:center;background: #333; color:white;border-style: double;border-width: 6px;" value="Arena10">
</div>


<div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 " style="float:right;">
  <span class="col-xs-12 col-sm-12 col-lg-8 col-md-12" style="margin-top: 10px;text-align:center; color:#EBEBEB;border-style: double;border-width: 6px;background-color:#333;"><strong style="color:#CFCC15;font-family:acme;">Aleatorio con maximo coste por carta</strong></span>
   <select class="col-xs-12 col-sm-12 col-lg-12 col-md-12" style="margin-top: 20px;background: #333; color:white; width: 280px; text-align: center;font-family:acme;">
      <option>Elija un coste maximo por carta</option>
      <option onclick="Coste3()">Coste maximo por carta 3</option>
      <option onclick="Coste4()">Coste maximo por carta 4</option>
      <option onclick="Coste5()">Coste maximo por carta 5</option>
      <option >Coste maximo por carta 6</option>
      <option >Coste maximo por carta 7</option>
      <option >Coste maximo por carta 8</option>
      <option >Coste maximo por carta 9</option>

   </select>

</div>
  </div>
</div>
